*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
body{
    background-color:chartreuse;
}
form{
    margin: 5%;
}
form h1{
    margin: 15px;
}
form input {
    margin: 5px;
}
 form input:focus{
    background-color: palevioletred;
 }

 #submit{
    border-radius: 5px;
    padding: 15px;
    margin: 4px;
    background-color: darkgreen;
    font-size: xx-large;
 }